{% extends "layout.html" %}
{% block content %}
    <h1>Movies For You - What's it all about?</h1>
    <br>
    <h3> Movies For You is a movie recommendation app that allows users to find movies they want to watch - whatever the occassion!</h3>
    <br>
    <h4>Meet the Team!</h4>
    <br>
{% for post in posts %}
        <h3>{{ post.name }}</h3>
        <p>A bit about me is: {{ post.about_me }}</p>
        <p>My favourite move is: {{ post.fav_movie }}</p>
    {% endfor %}
{% endblock content %}



