{% extends "layout.html" %}
{% block content %}
<p> {{ logged_in_status }} </p>
    <h3>Ready to find a movie to watch?</h3>
    <br>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom mb-4">Pick a Film</legend>
                <h6 class="instructions">Separate multiple answers with a comma and space e.g. Horror, Comedy</h6>
                <div class="form-group mb-4">
                    {{ form.genre.label(class="form-control-label") }}
                    {% if form.genre.errors %}
                        {{ form.genre(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.genre.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.genre(class="form-control form-control-lg") }}
                    {% endif %}
                    {% if not genre_result %}
                        <p class="error">{{ genre_error }}</p>
                    {% endif %}
                </div>
                <div class="form-group mb-4">
                    {{ form.rating.label(class="form-control-label") }}
                    {% if form.rating.errors %}
                        {{ form.rating(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rating.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rating(class="form-control form-control-lg") }}
                    {% endif %}
                    {% if not age_rating_result %}
                        <p class="error">{{ age_rating_error }}</p>
                    {% endif %}
                </div>
                <div class="form-group mb-4">
                    {{ form.lower_run_time.label(class="form-control-label") }}
                    {% if form.lower_run_time.errors %}
                        {{ form.lower_run_time(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lower_run_time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lower_run_time(class="form-control form-control-lg") }}
                    {% endif %}
                    {% if not lower_runtime_result %}
                        <p class="error">{{ lower_runtime_error }}</p>
                    {% endif %}
                </div>
                <div class="form-group mb-4">
                    {{ form.upper_run_time.label(class="form-control-label") }}
                    {% if form.upper_run_time.errors %}
                        {{ form.upper_run_time(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.upper_run_time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.upper_run_time(class="form-control form-control-lg") }}
                    {% endif %}
                    {% if not upper_runtime_result %}
                        <p class="error">{{ upper_runtime_error }}</p>
                    {% endif %}
                </div>

                <div class="form-group mb-4">
                    {{ form.keywords.label(class="form-control-label") }}
                    {% if form.keywords.errors %}
                        {{ form.keywords(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keywords.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.keywords(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group mb-4">
                    {{ form.number_of_results.label(class="form-control-label") }}
                    {% if form.number_of_results.errors %}
                        {{ form.number_of_results(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.number_of_results.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.number_of_results(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        {% if not result_list %}
            <p class="error"> {{ no_result_message }} </p>
        {% endif %}
    </div>

{% endblock content %}